
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2b5876, #00c3ff);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.set {
  position: absolute;
  top: 10px;    
  left: 10px;      
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;     
  background-color: #7d7dbe;
  color: white;
  border: #ccc;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(17, 145, 177, 0.452);
  border: 2px solid #fff;
}
.set svg {
  align-self: center;
  
}
.set:hover {
  background-color: #000000;
  border: 2px solid #ffffff;
}
.set svg:hover {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}
.container {
  width: 80%;
  max-width: 700px;
  background-color: #1f1f2e;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(53, 51, 51, 0.4);
  border: 1px solid #797777;
  text-align: center;
}

.empty {
  width: 20px;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #00d4ff;
}

header p {
  font-size: 1rem;
  color: #ddd;
}


.card {
  margin: 20px 0;
  background-color: #2b2b3d;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  margin-top:  10px;
  margin-right: 10px;
}

.input-group i {
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: #ffffff;
}

.input-group input {
  width: calc(100% - 100px);
  padding: 10px 10px 10px 40px;
  margin: 0 10px;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #00d4ff;
  box-shadow: 0 0 8px rgba(0, 212, 255, 0.7);
  background-color: #333; 
}

.clear-btn {
  background-color: #ff5555;
  color: #fff;
  border: 2px solid #ff0000;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #a81414;
}


.notification-section {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

#notification {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0;
}


.button-section {
  margin-top: 20px;
}

.action-btn {
  background-color: #68cfff;
  color: #000;
  border: none;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.action-btn i {
  margin-right: 10px;
}

#stop {
  background-color: #ff0000;
}
.action-btn:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}
footer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #ccc;
  position: absolute;
  bottom: 0;
}


.gs {
  display: flex; 
  justify-content: space-between; 
  margin-left: 10px;

}


.gs .input-group {
  flex: 1; 
  position: relative;
}


.gs .input-group select {
  width: 100%; 
  padding: 10px 10px 10px 35px; 
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gs .input-group i {
  position: absolute;
  left: 10px;
  font-size: 22px;
  color: #fff;
}


.gs .input-group select:focus {
  outline: none;
  border-color: #00d4ff;
  box-shadow: 0 0 8px rgba(0, 212, 255, 0.7);
  background-color: #333; 
}


.gs .input-group select:hover {
  border-color: #68cfff;
}


.gs .input-group select option {
  background-color: #444;
  color: #fff;
  padding: 12px;
}

.gs .input-group select option:hover {
  background-color: #333; 
}

.imagecontainer {
  width: 80%;
  max-width: 700px;
  background-color: #1f1f2e;
  border-radius: 15px;
  padding: 2px;
  box-shadow: 2px 2px 10px rgba(53, 51, 51, 0.4);
  border: 1px solid #797777;
  text-align: center;
  transition: 100ms;
  position: relative;
  display: inline-block;
}
.imagecontainer #camera {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 15px;
  object-fit: cover;
}

#sidecamera {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 25%;
  border-radius: 3px 3px 15px 3px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
